.main {
    color: black;
    width: 500px;
    height: 500px;
    font-size: 20px;
    }

#title{
    font-size: 30px;
}
#theTitle{
    color:var(--color1);
    font-size: 20px;
    margin: 10px 450px;
    width: 100%;
}
#info{
    margin: 10px 500px;

    display: inline-block;
    margin: 10px 10px ;
}
#flashCard{
    float: left;
    height: 1000px;
    width: 200px;

}
#flashCardText{
   
    margin: 10px 10px 10px 10px;
}
#info{
    font-size:10px;
    margin:0px 100px;
    position: absolute;
}
h1{
    font-size: 20px;
    margin: 10px 450px;
    width: 100%;
    color: var(--colorTheme1);

}
h1 table{
    margin: auto;
    padding: 5px ;
}
h1 table th{
    color: var(--colorTheme1);

    height: 20%;
    text-decoration: underline;

    font-family: sans-serif;
    font-weight: bolder;

}
h1 table td{
    color: var(--colorTheme1);

    font-family: sans-serif;

    width:40%;
    height: 5%;
    padding: 10px;
}
span{
    color:var(--colorTheme1);
    width: 200px;
    text-align: left;

}