.main {
    color: black;
 float: left;
    width: 500px;
    height: 500px;
    font-size: 20px;
    }

#title{
    font-size: 30px;
}
#info{

    display: inline-block;
    margin: 10px 10px ;
}
#flashCard{
    float: left;
    border:1px solid black;
    height: 1000px;

}
#flashCardText{
   
    margin: 10x 10px 10px 10px;
    outline: 1px solid black;
}
#info{
    font-size:10px;
    display: inline-block;
    margin:0px 100px;
    position: absolute;
}
h1{
    outline:1px solid black;
    width:500px;
    height: 500px;
}
