body{
    background-color: #7289da;
}
#divItems{
    color: #3f4447;
}
#correct{
    color:white;
    font-size: 50px;
    position: absolute;
    margin: 0px 40%;
    display: none;
}
#arabicText p{
    color:white;
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    outline: 1px solid white;
    background-color: #3f4447;
    font-size:50px;

}
#inputBox{

    margin:10px 10px 10px 10px;
    opacity: 1;
    background: transparent;
    outline:none;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    font-size: 30px;
    background-color: #3f4447;
    border-radius: 10px;
    

}
button{
    
    margin: auto;
    margin:10px 10px 10px 10px;

    background-color:var(--colorTheme1)
}
button:hover{
    opacity: .5;
}
#thisButton:focus{
    opacity: .5;
    border:none;
    outline: none;

}
#wrongId{
    background-color: red;
    text-align: center;
    
}
#correctId{
    background-color: green;
    text-align: center;
    
}
#thisButton:hover{
    opacity: .5;
    border:none;
    outline: none;

}
#titleDiv{
    background-color: black;
    width: 200px;
    height: 200px;
    margin: auto;
}
#titleDiv h5{
    background-color: darkblue;
}
#titleDiv p{
    color: green;
    font-size:50px;
    margin:50px 10px 10px 10px;
}
#thisButton{
    

    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgb(29, 122, 29);    
    border:none ;
    border-radius: 10px;
}