:root{
    --y:(#e2b714);
    --FG:none;

}
body{

    background-color: #000000;
  
}
#myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    height: 30px;
    background-color: #04AA6D;
  }
.WordChoiceBox{
    flex-wrap: wrap;
    margin:auto;
    
    width: 500px;
    
}
.WordChoiceBox #item{
   width:200px;
    height:100px;
    float: left;
    margin: 20px 20px;
    background-color: forestgreen;
    border-radius: 20px;
}
.WordChoiceBox #item p{
    font-size: 20px;
    text-align: center;
}
.MainItems{
    flex-wrap: wrap;
}
#infoTab{
display: inline-block;
    background-color: black;
    color: white;
    font-size: 20px;
    width:32px;
    height:32px;
    border-radius: 60%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    margin-bottom: 10px;
}
#infoTab:hover{
    background-color: #111927;
    
}
#ShowInfo{
    position: absolute;
    background-color: #111927;
    margin: auto;
    width:90%;
    height: 90%;
}
#correct{
    color:white;
    font-size: 50px;
    position: absolute;
    margin: 0px 40%;
    display: none;
}
#arabicText{
    font-size: 40px;
}
#arabicText p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 10px 10px 10px;
    font-weight: 300;
    color:white;
    width: 500px;
    height: 100px;
    margin: auto;
    
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(28, 38, 56, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);




    margin-bottom: 15px;
    font-size:60px;
    outline:none;
    border:none;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;

}
#inputBox{
    padding:10px;

    margin:10px 10px 10px 10px;

    background: transparent;
    outline:none;
    border:none;
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 10px 10px 10px;
    margin-left: 100px;
    

}

button{
    
    margin: auto;
    margin:10px 10px 10px 10px;

    background-color:white;
}
button:hover{
    opacity: .5;
}
#thisButton:focus{
    opacity: .5;
    border:none;
    outline: none;

}
#wrongId{
    background-color: red;
    text-align: center;
    font-size: 20px;
    max-height: 100px;
    width: 100%;
    position: absolute;
    top:95%;

    
}
#correctId{
    background-color: rgb(30, 241, 30);
    text-align: center;
    font-size: 20px;
    max-height: 100px;
    width: 100%;
    position: absolute;
    top:95%;
    
}
#thisButton:hover{
    opacity: .5;
    border:none;
    outline: none;

}
#titleDiv{
    width: 90%;
    height: 60px;
    margin: auto;
    color: var(--FG);
    margin-top: 10px;
}
#showQuoteBox{
    background-color: var(--FG);;
    height: 20px;
    width: 500px;
    margin: auto;
    margin-bottom: 0px;
    color: white;
    font-size: 20px;
    text-align: left;
    outline:none;
    border:none;

}
#showQuoteBox ul{
    margin-left: 70px;

}
#showQuoteBox p{
    margin:10px 1px 1px 1px;

    font-weight: 600;
    margin: 20px 20px 0px 10px;
}

#titleDiv p{
    

    font-size:20px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
#thisButton{
    
    position: relative;
    width: 60px;
    height: 60px;
    background-color: var(--FG);;
    border:none ;
    border-radius: 10px;
    bottom:5px;
}

#toggler{
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    margin-left:10px;
    border:none;
    display: none;

}
#mySelected{
    margin: auto;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border: none;
    font-size: 30px;
    width: 300px;
    height: auto;
    margin-left: 10px;
    text-align: right;
    padding: 2px;
    background-color: rgba(28, 38, 56, 0.75);


    outline: none;
    border-radius: 10px;

}
#mySelected option{
    color: white;
    text-align: center;
}
h4{
    color: var(--FG);
}
.mainBox{
    border-radius: none;
    outline: none;

}
#username{
    margin:-10px;
    
}
#titleDiv{
    border:none;
    outline: none;

}
#titleDiv #mainBoxArea{  
    margin-left: auto;
    text-align: right;
    margin-right: 10px;
    border: none;
    outline: none;


}
#titleDiv #textP{
    float: left;
    text-align: center;
    color:white;
    font-weight: lighter;
    font-size: 30px;
    margin-left: 25%;
    border:none;
    outline: none;


}
#titleDiv #counterW{
    color:red;
    font-size: 30px;
    margin-left: 10px;
    float: left;
    font-weight: 600;
    text-decoration: underline;
    
}
#titleDiv #counterC{
    color:lime;
    font-size: 30px;
    margin-left: 10px;
    float: left;
    font-weight: 600;
    text-decoration: underline;

}
#xpShow{

    margin-top: 50px;
    font-size: 50px;

}
#learnWords{
    position: absolute;
    right:0%;
    top: 40%;
    font-size: 15px;
   width: 200px;
   height: 300px;
   max-height: 500px;
   overflow:scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;

   
}
#learnWords p{
    display: block;
    color: black;
    font-weight: bold;
    
}
#learnWords #learnWordsmyTxt{
    outline: 1px solid black;
    margin:1px 1px 1px 1px;
    color: forestgreen;
}
#AllQuotes{
    position: absolute;
 top:100%;

}
#AllQuotes #quotesP{
    display: none;

    background-color: black;
    font-size: 15px;
    color: black;
    margin:1px 1px 1px 1px;
}
#currentLang{
    display: inline;
    color: white;
    text-decoration: underline; 
    font-weight: 900;
    font-family: unset;
}
#links{
    flex-direction: row;
}
#links a{
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    font-family: cursive;
    color: white;
}
#arabicText #currentWord{
    text-decoration: underline;
font-family: fantasy;
    font-weight: bold;
}