:root{
    --y:(#e2b714);
    --FG:none;
    --bgholdergray--:rgba(26,26,27,0.8);

}
body{

    background-color: #000000;
  
}
.UserArea{
    cursor:default;
    position: relative;

    color: white;
    width: 60%;
    height:700px;
    background-color: var(--bgholdergray--);
    border:1px solid var(--color4);
    border-radius: 4px;
    margin: auto;
}
#myProgress {
    width: 100%;
    background-color: #ddd;
    margin:10px 10px 10px 10px;
  }
  
  #myBar {
      margin-top: 50px;
    height: 20px;
    background-color: #04AA6D;
    margin-bottom: 10px;
    
  }
#WordChoiceBox{
    flex-wrap: wrap;
    margin:auto;
    
    width: 500px;
    background-color: white;
}
#WordChoiceBox #item{
   width:200px;
    height:100px;
    float: left;
    margin: 20px 20px;
    background-color: #04AA6D;;
    border:1px solid var(--color4);
    border-radius: 16px;
}
#WordChoiceBox #item:hover{
opacity: .7;
cursor: pointer;
}

#WordChoiceBox #item p{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    text-align: center;
}
#MainItems{
    flex-wrap: wrap;
}
#infoTab{
/*b*/
    background-color: black;
    color: white;
    font-size: 20px;
    width:32px;
    height:32px;
    border-radius: 60%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    margin-bottom: 10px;
}
#infoTab:hover{
    background-color: #111927;
    
}
#ShowInfo{
    position: absolute;
    background-color: #111927;
    margin: auto;
    width:90%;
    height: 90%;
}
#correct{
    color:white;
    font-size: 50px;
    position: absolute;
    margin: 0px 40%;
    display: none;
}
#arabicText{
    font-size: 40px;
}
#arabicText p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 10px 10px 10px;
    font-weight: 300;
    color:white;
    width: 500px;
    height: 100px;
    margin: auto;
    
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: #3d3d3d98;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);




    margin-bottom: 15px;
    font-size:60px;
    outline:none;
    border:none;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;

}
#inputBox{
    padding:10px;

    margin:10px 10px 10px 10px;

    background: transparent;
    outline:none;
    border:none;
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 10px 10px 10px;
    margin-left: 100px;
    

}

button{
    
    margin: auto;
    margin:10px 10px 10px 10px;

    background-color:white;
}
button:hover{
}
#thisButton:focus{
    opacity: .5;
    border:none;
    outline: none;

}
#wrongId{

    margin:10px 10px 10px 10px;
    background-color: #3d3d3d;
    position: fixed;
    right: 0px;
    top:0px;
    width:300px;
    height: auto;
    border:2px solid white;
    border-radius: 4px;

}
#wrongIdp{
    padding:10px 10px 10px 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma;
    font-size: 20px;
    font-weight: lighter;
}
#correctId{
    margin:10px 10px 10px 10px;

    background-color: #3d3d3d;
    position: fixed;
    right: 0px;
    top:0px;
    width:300px;
    height: 100px;
    border:1px solid var(--color4);
    
}
#thisButton:hover{
    border:none;
    outline: none;

}
#titleDiv{
    width: 90%;
    height: 60px;
    margin: auto;
    color: var(--FG);
    margin-top: 10px;
}
#showQuoteBox{
    background-color: var(--FG);;
    height: 20px;
    width: 500px;
    margin: auto;
    margin-bottom: 0px;
    color: white;
    font-size: 20px;
    text-align: left;
    outline:none;
    border:none;

}
#showQuoteBox ul{
    margin-left: 70px;

}
#showQuoteBox p{
    margin:10px 1px 1px 1px;

    font-weight: 600;
    margin: 20px 20px 0px 10px;
}

#titleDiv p{
    

    font-size:20px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
#thisButton{
    
    position: relative;
    width: 60px;
    height: 60px;
    background-color: var(--FG);;
    border:none ;
    border-radius: 10px;
    bottom:5px;
}

#toggler{
    /*b*/
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    margin-left:10px;
    border:none;
    display: none;

}
#mySelected{
    margin: auto;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border: none;
    font-size: 30px;
    width: 300px;
    height: auto;
    margin-left: 10px;
    text-align: center;
    padding: 2px;
    background-color: #3d3d3d98;


    outline: none;
    border-radius: 10px;

}
#mySelected option{
    color: white;
    text-align: center;
}
h4{
    color: var(--FG);
}
#MainBox{
    border-radius: none;
    outline: none;

}
#username{
    margin:-10px;
    
}
#titleDiv{
    border:none;
    outline: none;

}
#titleDiv #mainBoxArea{  
    margin-left: auto;
    text-align: right;
    margin-right: 10px;
    border: none;
    outline: none;


}
#titleDiv #textP{
    float: left;
    text-align: center;
    color:white;
    font-weight: lighter;
    font-size: 30px;
    margin-left: 22%;
    border:none;
    outline: none;


}
#titleDiv #counterW{
    color:red;
    font-size: 30px;
    margin-left: 10px;
    float: left;
    font-weight: 600;
    text-decoration: underline;
    
}
#titleDiv #counterC{
    color:lime;
    font-size: 30px;
    margin-left: 10px;
    float: left;
    font-weight: 600;
    text-decoration: underline;

}
#xpShow{

    margin-top: 50px;
    font-size: 50px;

}
#learnWords{
    position: absolute;
    right:0%;
    top: 40%;
    font-size: 15px;
   width: 200px;
   height: 300px;
   max-height: 500px;
   overflow:scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;

   
}
#learnWords p{
    display: block;
    color: black;
    font-weight: bold;
    
}
#learnWords #learnWordsmyTxt{
    outline: 1px solid black;
    margin:1px 1px 1px 1px;
    color: forestgreen;
}
#AllQuotes{
    position: absolute;
 top:100%;

}
#AllQuotes #quotesP{
    display: none;

    background-color: black;
    font-size: 15px;
    color: black;
    margin:1px 1px 1px 1px;
}
#currentLang{
    display: inline;
    color: white;
    text-decoration: underline; 
    font-weight: 900;
    font-family: unset;
}
#links{
    flex-direction: row;
}
#links a{
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    font-family: cursive;
    color: white;
}
#arabicText #currentWord{
    text-decoration: underline;
font-family: fantasy;
    font-weight: bold;
}