#arabicText p{
    color:var(--colorTheme1);
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    outline: 1px solid gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#inputBox{
    margin:50px 10px 10px 10px;

}
button{
    
    margin: auto;
    margin:10px 10px 10px 10px;

    background-color:var(--colorTheme1)
}
button:hover{
    opacity: .5;
}
button:focus{
    opacity: .5;
}
#titleDiv p{
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;
    margin:50px 10px 10px 10px;
}