:root{
    --y:(#e2b714);
    --FGd:rgb(46,125,50);;

}
body{

    background-color: #111927;
  
}

#correct{
    color:white;
    font-size: 50px;
    position: absolute;
    margin: 0px 40%;
    display: none;
}
#arabicText{

}
#arabicText p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 10px 10px 10px;
    font-weight: 300;
    color:white;
    width: 500px;
    height: 100px;
    margin: auto;
    
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);




    margin-bottom: 15px;
    font-size:40px;
    outline:none;
    border:none;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;

}
#inputBox{
    padding:10px;

    margin:10px 10px 10px 10px;

    background: transparent;
    outline:none;
    border:none;
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    color: black;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 10px 10px 10px;

    

}
button{
    
    margin: auto;
    margin:10px 10px 10px 10px;

    background-color:white;
}
button:hover{
    opacity: .5;
}
#thisButton:focus{
    opacity: .5;
    border:none;
    outline: none;

}
#wrongId{
    background-color: red;
    text-align: center;
    font-size: 20px;
    top:100px;
    margin: auto;
    margin-top: 60px;
    width: 95%;
    border-radius: 10px;
}
#correctId{
    background-color: rgb(30, 241, 30);
    text-align: center;
    font-size: 20px;
    top:100px;
    margin: auto;
    margin-top: 60px;
    width: 95%;
    border-radius: 10px;

    
}
#thisButton:hover{
    opacity: .5;
    border:none;
    outline: none;

}
#titleDiv{
    width: 90%;
    height: 60px;
    margin: auto;
    color: var(--FG);
    margin-top: 10px;
    background-color: rgb(122, 119, 119,.5);

}
#showQuoteBox{
    background-color: var(--FG);;
    height: 50px;
    width: 500px;
    margin: auto;
    margin-bottom: 0px;
    color: black;
    font-size: 20px;
    text-align: left;
    margin-bottom: .5px;
    outline:none;
    border:none;

}
#showQuoteBox ul{
    margin-left: 70px;

}
#showQuoteBox p{
    margin:10px 1px 1px 1px;

    font-weight: 600;
    margin: 20px 20px 0px 10px;
}

#titleDiv p{
    color: var(--FG);

    font-size:20px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
#thisButton{
    
    position: relative;
    width: 60px;
    height: 60px;
    background-color: var(--FG);;
    border:none ;
    border-radius: 10px;
    bottom:5px;
}

#toggler{
    background-color: black;
    outline: none;
    color: white;
    border: none;
    border-radius: 20px;
}
#mySelected{
    margin: auto;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border: none;
    font-size: 30px;
    width: 300px;
    height: auto;
    margin-left: 10px;
    text-align: right;
    padding: 2px;
    background-color: rgb(26, 172, 26);
    outline: none;
    border-radius: 10px;

}
#mySelected option{
    color: black;
    text-align: center;
}
h4{
    color: var(--FG);
}
.mainBox{
    border-radius: none;
    outline: none;

}
#username{
    margin:-10px;
    
}
#titleDiv{
    border:none;
    outline: none;

}
#titleDiv #mainBoxArea{  
    margin-left: auto;
    text-align: right;
    margin-right: 10px;
    border: none;
    outline: none;


}
#titleDiv #textP{
    float: left;
    text-align: center;
    color:black;
    font-size: 30px;
    margin-left: 300px;
    font-weight: 900;
    border:none;
    outline: none;


}
#titleDiv #counterW{
    color:red;
    font-size: 30px;
    margin-left: 10px;
    float: left;
    font-weight: 600;
}
#titleDiv #counterC{
    color:lime;
    font-size: 30px;
    margin-left: 10px;
    float: left;
    font-weight: 600;
}
#xpShow{

    margin-top: 50px;
    font-size: 50px;

}
#learnWords{
    position: absolute;
    right:0%;
    top: 40%;
    font-size: 15px;
   width: 200px;
   height: 300px;
   max-height: 500px;
   overflow:scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;

   
}
#learnWords p{
    display: block;
    color: black;
    font-weight: bold;
    
}
#learnWords #learnWordsmyTxt{
    outline: 1px solid black;
    margin:1px 1px 1px 1px;
    color: forestgreen;
}
#AllQuotes{
    position: absolute;
 top:100%;

}
#AllQuotes #quotesP{
    display: none;

    background-color: black;
    font-size: 15px;
    color: black;
    margin:1px 1px 1px 1px;
}
#currentLang{
    display: inline;
    color: white;
    text-decoration: underline; 
    font-weight: 900;
    font-family: unset;
}
#links{
    flex-direction: row;
}
#links a{
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    font-family: cursive;
    color: white;
}
