:root{
    --y:(#e2b714);
    --FGd:rgb(46,125,50);;

}
body{
    background-color:white;
}

#correct{
    color:white;
    font-size: 50px;
    position: absolute;
    margin: 0px 40%;
    display: none;
}
#arabicText{

}
#arabicText p{
    font-family: Comfortaa;
    font-weight: 300;
    color:var(--FG);
    width: 500px;
    height: 100px;
    margin: auto;
    margin-bottom: 15px;
    background-color: white;
    font-size:40px;
    border:1px solid black ;

}
#inputBox{

    margin:10px 10px 10px 10px;
    opacity: 1;
    background: transparent;
    outline:none;
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    border:1px solid black ;
    color: black;


    

}
button{
    
    margin: auto;
    margin:10px 10px 10px 10px;

    background-color:white;
}
button:hover{
    opacity: .5;
}
#thisButton:focus{
    opacity: .5;
    border:none;
    outline: none;

}
#wrongId{
    background-color: red;
    text-align: center;
    font-size: 20px;
    top:100px ;
    
}
#correctId{
    background-color: rgb(30, 241, 30);
    text-align: center;
    font-size: 20px;

    
}
#thisButton:hover{
    opacity: .5;
    border:none;
    outline: none;

}
#titleDiv{
    background-color: #3f4447;
    width: 300px;
    height: 320px;
    margin: auto;
    border-radius: 10%;
    color: var(--FG);
    
}
#showQuoteBox{
    background-color: var(--FG);;
    height: 50px;
    width: 500px;
    margin: auto;
    margin-bottom: 0px;
    color: black;
    font-size: 20px;
    text-align: left;
    margin-bottom: .5px;
    border:1px solid black ;
    
}
#showQuoteBox d{
    margin-left: 2px;
}
#showQuoteBox p{
    margin:10px 1px 1px 1px;

    font-weight: 600;
    margin: 20px 20px 0px 10px;
}

#titleDiv p{
    color: var(--FG);;
    font-size:40px;
    margin:50px 10px 10px 10px;
}
#thisButton{
    
    position: relative;
    width: 60px;
    height: 60px;
    background-color: var(--FG);;
    border:none ;
    border-radius: 10px;
    bottom:5px;
}
#mySelected{
    margin: auto;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 30px;
}
#mySelected option{
    color: black;
    text-align: center;
    border: none;
    outline: none;
}
h4{
    color: var(--FG);
}
.mainBox{
    width: 500px;
    height: 100%;
    outline: 1px solid white;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
}
#username{
    margin:-10px;
}
#titleDiv{
    position: absolute;
    top:30%;
}
#titleDiv #mainBoxArea{  
    margin-left: auto;
    text-align: right;
    margin-right: 10px;

}
#titleDiv #textP{
    float: left;
    color:black;
    font-size: 20px;

    margin: 0px 50px 10px 10px;

}
#titleDiv #counterW{
    color:red;
    font-size: 20px;
}
#titleDiv #counterC{


    color:lime;
    font-size: 20px;
}
#xpShow{
    margin-top: 30px;
    font-size: 50px;
    z-index: -1;

}
#learnWords{
    position: absolute;
    right:0%;
    top: 40%;
    font-size: 15px;
   width: 200px;
   height: 300px;
   max-height: 500px;
   overflow:scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;

   
}
#learnWords p{
    display: block;
    color: black;
    font-weight: bold;
    

}
#learnWords #learnWordsmyTxt{
    outline: 1px solid white;
    margin:1px 1px 1px 1px;
    color: white;
}
#AllQuotes{
    position: absolute;
 top:100%;

}
#AllQuotes #quotesP{
    background-color: gray;
    font-size: 15px;
    color: black;
    margin:1px 1px 1px 1px;
}
#currentLang{
    display: inline;
    color: white;
    text-decoration: underline; 
    font-weight: 900;
    font-family: unset;
}
#links{
    flex-direction: row;
}
#links a{
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    font-family: cursive;
    color: white;
}