body{
    background-color: #7289da;
}

#correct{
    color:white;
    font-size: 50px;
    position: absolute;
    margin: 0px 40%;
    display: none;
}
#arabicText p{
    color:white;
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    background-color: #3f4447;
    font-size:40px;

}
#inputBox{

    margin:10px 10px 10px 10px;
    opacity: 1;
    background: transparent;
    outline:none;
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    border:none ;
    color: gray;

    

}
button{
    
    margin: auto;
    margin:10px 10px 10px 10px;

    background-color:var(--colorTheme1)
}
button:hover{
    opacity: .5;
}
#thisButton:focus{
    opacity: .5;
    border:none;
    outline: none;

}
#wrongId{
    background-color: red;
    text-align: center;
    font-size: 20px;
    top:50px ;
    
}
#correctId{
    background-color: lime;
    text-align: center;
    font-size: 20px;
    margin-top:50px ;

    
}
#thisButton:hover{
    opacity: .5;
    border:none;
    outline: none;

}
#titleDiv{
    background-color: #3f4447;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 10%;
}

#titleDiv p{
    color: rgb(30, 241, 30);
    font-size:40px;
    margin:50px 10px 10px 10px;
    font-weight: bold;

}
#thisButton{
    
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgb(30, 241, 30);
    border:none ;
    border-radius: 10px;
    bottom:5px;
}
#mySelected{
    margin: auto;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    border: none;
    text-align: center;
}
#mySelected option{
    color: white;
    text-align: center;
    border: none;
    outline: none;
}
h4{
    color: yellow;
}
.mainBox{
    width: 500px;
    height: 100%;
    outline: 1px solid white;
    margin: auto;
    background-color: rgb(45, 45, 129,.4);
}
#username{
    margin:-10px;
}
#titleDiv #mainBoxArea{
    margin-left: auto;
    text-align: right;
    margin-right: 10px;

}
#titleDiv #textP{
    float: left;
    color:black;
    font-size: 20px;

    margin: 0px 50px 10px 10px;

}
#titleDiv #counterW{
    color:red;
    font-size: 20px;
}
#titleDiv #counterC{


    color:lime;
    font-size: 20px;
}
#xpShow{
    margin-top: 10px;
    font-size: 50px;
}
#learnWords{

   float: right;
    font-size: 15px;
   width: 200px;
   height: 300px;
   max-height: 500px;
   margin: -600px 50px 50px 50px;  
   overflow:scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;

   
}
#learnWords p{
    display: block;
    color: black;
    font-weight: bold;

}
#learnWords #learnWordsmyTxt{
    outline: 1px solid white;
    margin:1px 1px 1px 1px;
    color: white;
}