:root{
    --color1:#ffffff;
    --color2:#99aab5;
    --color3:#2c2f33;
    --color4:#23272a;
    cursor: pointer;
}
.Header{
    color:blue;
    width:100%;
    height: 100px;
    background-color: var(--color2);
    flex-wrap: wrap;
    background-color: turquoise;
}
#divItems{
    margin: 10px 10px 10px 10px;
    float:left;
    color: yellow;
    font-size: 25px;
    background-color: black;
}
.Header #items:hover{
    background-color: var(--color1);
}