:root{
    --color1:#ffffff;
    --color2:#99aab5;
    --color3:#2c2f33;
    --color4:#606468;
    --color5:rgb(91, 94, 102);
    cursor: pointer;
}
:root{
    --color1:#3f3f3f;
}
.Header{
    color:var(--color1);
    width:100%;
    height: 100px;
}
#divItems{

    color: var(--color5);
    font-size: 15px;
    margin:10px 10px 0 10px;
}
.Header #items:hover{
    background-color: var(--color1);
}