:root{
    --color1:#ffffff;
    --color2:#99aab5;
    --color3:#2c2f33;
    --color4:#23272a;
    --color5:rgb(16, 41, 95);
    cursor: pointer;
}
.Header{
    color:blue;
    width:100%;
    height: 100px;
    background-color: var(--color2);
    flex-wrap: wrap;
    background-color: turquoise;
}
#divItems{
float: left;   
    color: var(--color5);
    font-size: 25px;
    background-color: var(--color1);
}
.Header #items:hover{
    background-color: var(--color1);
}