:root{
    --color1:#ffffff;
    --color2:#99aab5;
    --color3:#2c2f33;
    --color4:#606468;
    --color5:rgb(91, 94, 102);
    --FG:#4caf50;
    cursor: pointer;
    --y:(#e2b714);

}

.Header{
    color: white;
    width: 100%;
    height: 100px;
    background-color: #4caf50;
  

}
#divItems{
    display: inline;
    color: white;
    width:100px;
    height: 100px;
    font-size: 25px;
    margin:10px 10px 0 10px;
}
.Header #divItems:hover{
    opacity: .5;
}