
table{
    width: 50%;
 margin: auto;
  margin-top: 100px;

}
table,th,td{
    margin-top:20px 20px 20px 20px;
    color:var(--colorTheme1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    width:400px;
    height: 100px;
}
#vD{
   
    width: 500px;
    height: 500px;
    
}
#title{
color:rgb(94, 93, 93);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}